In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from FeatureEngine import FeatureMethods
from sklearn.preprocessing import LabelEncoder
from sklearn.datasets import fetch_20newsgroups
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import numpy as np
cv = CountVectorizer()

df1 = pd.read_csv(r"C:\Users\Dylan\OneDrive\Desktop\Programming projects\Python projects\HCP Classification\dataset.csv")


#categories = ['alt.atheism', 'soc.religion.christian','comp.graphics', 'sci.med']

#twenty_train = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
#venv guidance
#https://stackoverflow.com/questions/8921188/issue-with-virtualenv-cannot-activate
#https://janakiev.com/blog/jupyter-virtual-envs/

ModuleNotFoundError: No module named 'sklearn'

In [2]:
iris = load_iris()
iris

data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

df1

,id,UserName,EntityName,TranDescription,HCP
0,1,wletterese0,Acura,Praesent id massa id nisl venenatis lacinia. A...,0
1,2,bpenright1,Acura,Donec semper sapien a libero. Nam dui. Proin l...,0
2,3,amenichelli2,Mercedes-Benz,Vestibulum ante ipsum primis in faucibus orci ...,1
3,4,jalessandone3,GMC,"Aliquam augue quam, sollicitudin vitae, consec...",0
4,5,gpattrick4,Buick,Vestibulum ante ipsum primis in faucibus orci ...,0
...,...,...,...,...,...
995,996,gmoanrn,Mazda,Vivamus in felis eu sapien cursus vestibulum. ...,0
996,997,jjacombro,Toyota,In sagittis dui vel nisl. Duis ac nibh. Fusce ...,1
997,998,wailmerrp,Ford,Vestibulum ante ipsum primis in faucibus orci ...,0
998,999,mskirvingrq,Audi,In congue. Etiam justo.,0
999,1000,echilversrr,Pontiac,"Fusce congue, diam id ornare imperdiet, sapien...",0

In [7]:
modelVals.df.describe()

,id,HCP,EntityName_labeled,EntityName_Acura,EntityName_Alfa Romeo,EntityName_Aston Martin,EntityName_Audi,EntityName_Austin,EntityName_BMW,EntityName_Bentley,...,EntityName_Rolls-Royce,EntityName_Saab,EntityName_Saturn,EntityName_Scion,EntityName_Subaru,EntityName_Suzuki,EntityName_Tesla,EntityName_Toyota,EntityName_Volkswagen,EntityName_Volvo
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,0.49000,27.972000,0.023000,0.001000,0.002000,0.040000,0.001000,0.022000,0.001000,...,0.001000,0.009000,0.007000,0.005000,0.016000,0.022000,0.001000,0.052000,0.028000,0.026000
std,288.819436,0.50015,17.515822,0.149978,0.031623,0.044699,0.196057,0.031623,0.146757,0.031623,...,0.031623,0.094488,0.083414,0.070569,0.125538,0.146757,0.031623,0.222138,0.165055,0.159215
min,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,250.750000,0.00000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,500.500000,0.00000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,750.250000,1.00000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1000.000000,1.00000,57.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
modelVals = FeatureMethods.FeatureEngine(df1)
modelVals.encodeLabels('EntityName')
modelVals.oneHotEncodeLabels('EntityName')
modelVals.outputFeatures()
modelVals.fit_transform()

modelVals.dfscaled

,EntityName_Acura,EntityName_Alfa Romeo,EntityName_Aston Martin,EntityName_Audi,EntityName_Austin,EntityName_BMW,EntityName_Bentley,EntityName_Buick,EntityName_Cadillac,EntityName_Chevrolet,...,EntityName_Saab,EntityName_Saturn,EntityName_Scion,EntityName_Subaru,EntityName_Suzuki,EntityName_Tesla,EntityName_Toyota,EntityName_Volkswagen,EntityName_Volvo,EntityName_labeled
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.684211
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.315789
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.122807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.649123
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.964912
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.298246
998,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.052632
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.807018

In [6]:
modelVals.df

,id,UserName,TranDescription,HCP,EntityName_labeled,EntityName_Acura,EntityName_Alfa Romeo,EntityName_Aston Martin,EntityName_Audi,EntityName_Austin,...,EntityName_Rolls-Royce,EntityName_Saab,EntityName_Saturn,EntityName_Scion,EntityName_Subaru,EntityName_Suzuki,EntityName_Tesla,EntityName_Toyota,EntityName_Volkswagen,EntityName_Volvo
0,1,wletterese0,Praesent id massa id nisl venenatis lacinia. A...,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,bpenright1,Donec semper sapien a libero. Nam dui. Proin l...,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,amenichelli2,Vestibulum ante ipsum primis in faucibus orci ...,1,39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,jalessandone3,"Aliquam augue quam, sollicitudin vitae, consec...",0,18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,gpattrick4,Vestibulum ante ipsum primis in faucibus orci ...,0,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,gmoanrn,Vivamus in felis eu sapien cursus vestibulum. ...,0,37,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,997,jjacombro,In sagittis dui vel nisl. Duis ac nibh. Fusce ...,1,55,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
997,998,wailmerrp,Vestibulum ante ipsum primis in faucibus orci ...,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,999,mskirvingrq,In congue. Etiam justo.,0,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
999,1000,echilversrr,"Fusce congue, diam id ornare imperdiet, sapien...",0,46,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
modelVals.reverse_transform()

modelVals.dfscaled

,EntityName_Acura,EntityName_Alfa Romeo,EntityName_Aston Martin,EntityName_Audi,EntityName_Austin,EntityName_BMW,EntityName_Bentley,EntityName_Buick,EntityName_Cadillac,EntityName_Chevrolet,...,EntityName_Saab,EntityName_Saturn,EntityName_Scion,EntityName_Subaru,EntityName_Suzuki,EntityName_Tesla,EntityName_Toyota,EntityName_Volkswagen,EntityName_Volvo,EntityName_labeled
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,55.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0
998,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0

In [4]:


modelVals.concatVector('TranDescription',1,1) 


#.df accesses the now modified dataframe with features added to df
modelVals.df
#modelVals.originalFeatures

,id,UserName,EntityName,TranDescription,HCP,EntityName_labeled,ac,accumsan,adipiscing,aenean,...,vehicula,vel,velit,venenatis,vestibulum,vitae,vivamus,viverra,volutpat,vulputate
0,1,wletterese0,Acura,Praesent id massa id nisl venenatis lacinia. A...,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,2,bpenright1,Acura,Donec semper sapien a libero. Nam dui. Proin l...,0,0,2,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,3,amenichelli2,Mercedes-Benz,Vestibulum ante ipsum primis in faucibus orci ...,1,39,0,0,0,0,...,0,0,0,1,1,2,0,1,0,0
3,4,jalessandone3,GMC,"Aliquam augue quam, sollicitudin vitae, consec...",0,18,0,0,0,0,...,0,1,0,0,1,1,0,0,0,0
4,5,gpattrick4,Buick,Vestibulum ante ipsum primis in faucibus orci ...,0,7,1,0,0,0,...,0,1,0,1,2,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,gmoanrn,Mazda,Vivamus in felis eu sapien cursus vestibulum. ...,0,37,1,0,1,0,...,0,0,1,0,1,1,1,0,0,0
996,997,jjacombro,Toyota,In sagittis dui vel nisl. Duis ac nibh. Fusce ...,1,55,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
997,998,wailmerrp,Ford,Vestibulum ante ipsum primis in faucibus orci ...,0,17,1,0,0,0,...,0,1,0,1,2,0,0,0,0,0
998,999,mskirvingrq,Audi,In congue. Etiam justo.,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1000,echilversrr,Pontiac,"Fusce congue, diam id ornare imperdiet, sapien...",0,46,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1

In [55]:
text_features = cv.fit_transform(df['TranDescription'].values)
vect_df = pd.DataFrame(text_features.todense(), columns=cv.get_feature_names())

df = pd.concat([df, vect_df], axis=1)

df

,id,UserName,EntityName,TranDescription,HCP,ac,accumsan,adipiscing,aenean,aliquam,...,vehicula,vel,velit,venenatis,vestibulum,vitae,vivamus,viverra,volutpat,vulputate
0,1,wletterese0,Acura,Praesent id massa id nisl venenatis lacinia. A...,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,2,bpenright1,Acura,Donec semper sapien a libero. Nam dui. Proin l...,0,2,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,3,amenichelli2,Mercedes-Benz,Vestibulum ante ipsum primis in faucibus orci ...,1,0,0,0,0,2,...,0,0,0,1,1,2,0,1,0,0
3,4,jalessandone3,GMC,"Aliquam augue quam, sollicitudin vitae, consec...",0,0,0,0,0,1,...,0,1,0,0,1,1,0,0,0,0
4,5,gpattrick4,Buick,Vestibulum ante ipsum primis in faucibus orci ...,0,1,0,0,0,1,...,0,1,0,1,2,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,gmoanrn,Mazda,Vivamus in felis eu sapien cursus vestibulum. ...,0,1,0,1,0,1,...,0,0,1,0,1,1,1,0,0,0
996,997,jjacombro,Toyota,In sagittis dui vel nisl. Duis ac nibh. Fusce ...,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
997,998,wailmerrp,Ford,Vestibulum ante ipsum primis in faucibus orci ...,0,1,0,0,0,0,...,0,1,0,1,2,0,0,0,0,0
998,999,mskirvingrq,Audi,In congue. Etiam justo.,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1000,echilversrr,Pontiac,"Fusce congue, diam id ornare imperdiet, sapien...",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2,1

In [49]:
descriptions = df['TranDescription'].values
y = df['HCP'].values  #y represents the classification value (i.e. HCP vs. not HCP)

descriptions_train, descriptions_test, y_train, y_test = train_test_split(descriptions, y, test_size=0.25, random_state=1000)

descriptions_train.shape
y_train

array([1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 0], dtype=int64)

In [50]:


#X_train = cv.fit_transform(df['TranDescription'])

descriptions_train_transform = cv.fit_transform(descriptions_train)

vect_df = pd.DataFrame(descriptions_train_transform.todense(), columns=cv.get_feature_names())

vect_df

,ac,accumsan,adipiscing,aenean,aliquam,aliquet,amet,ante,arcu,at,...,vehicula,vel,velit,venenatis,vestibulum,vitae,vivamus,viverra,volutpat,vulputate
0,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,2,0,1,0,0,1
1,0,0,1,1,0,0,2,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,0,0,0,1,1,...,1,0,0,0,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
747,0,1,0,0,0,1,2,0,0,0,...,1,2,0,0,1,0,0,0,0,0
748,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
print(cv.get_feature_names())

['ac', 'accumsan', 'adipiscing', 'aenean', 'aliquam', 'aliquet', 'amet', 'ante', 'arcu', 'at', 'auctor', 'augue', 'bibendum', 'blandit', 'commodo', 'condimentum', 'congue', 'consectetuer', 'consequat', 'convallis', 'cras', 'cubilia', 'cum', 'curabitur', 'curae', 'cursus', 'dapibus', 'diam', 'dictumst', 'dignissim', 'dis', 'dolor', 'donec', 'dui', 'duis', 'egestas', 'eget', 'eleifend', 'elementum', 'elit', 'enim', 'erat', 'eros', 'est', 'et', 'etiam', 'eu', 'euismod', 'facilisi', 'faucibus', 'felis', 'fermentum', 'feugiat', 'fringilla', 'fusce', 'gravida', 'habitasse', 'hac', 'hendrerit', 'iaculis', 'id', 'imperdiet', 'in', 'integer', 'interdum', 'ipsum', 'justo', 'lacinia', 'lacus', 'laoreet', 'lectus', 'leo', 'libero', 'ligula', 'lobortis', 'lorem', 'luctus', 'maecenas', 'magna', 'magnis', 'malesuada', 'massa', 'mattis', 'mauris', 'metus', 'mi', 'molestie', 'mollis', 'montes', 'morbi', 'mus', 'nam', 'nascetur', 'natoque', 'nec', 'neque', 'nibh', 'nisi', 'nisl', 'non', 'nonummy', 'nulla', 'nullam', 'nunc', 'odio', 'orci', 'ornare', 'parturient', 'pede', 'pellentesque', 'penatibus', 'pharetra', 'phasellus', 'placerat', 'platea', 'porta', 'porttitor', 'posuere', 'potenti', 'praesent', 'pretium', 'primis', 'proin', 'pulvinar', 'purus', 'quam', 'quis', 'quisque', 'rhoncus', 'ridiculus', 'risus', 'rutrum', 'sagittis', 'sapien', 'scelerisque', 'sed', 'sem', 'semper', 'sit', 'sociis', 'sodales', 'sollicitudin', 'suscipit', 'suspendisse', 'tellus', 'tempor', 'tempus', 'tincidunt', 'tortor', 'tristique', 'turpis', 'ullamcorper', 'ultrices', 'ultricies', 'urna', 'ut', 'varius', 'vehicula', 'vel', 'velit', 'venenatis', 'vestibulum', 'vitae', 'vivamus', 'viverra', 'volutpat', 'vulputate']

In [46]:
descriptions_train_transform.toarray()

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)